#create-game-container {
  text-align: center;
  padding: 1.5em 3em;
  padding-bottom: 3em;
  height: calc(100vh - 84px);
}

#list-games-container {
  padding: 1em 0;
  padding-bottom: 0;
  width: 100%;
}
.list-games {
  margin: 0.7em 0;
  width: 100%;
  padding: 2em 1em;
  background: green;
  text-align: center;
  text-transform: uppercase;
}

.list-games:nth-child(5n-4) {
  background: var(--darkBlue);
}

.list-games:nth-child(5n-3) {
  background: var(--blue);
}

.list-games:nth-child(5n-2) {
  background: var(--pink);
}

.list-games:nth-child(5n-1) {
  background: var(--yellow);
}

.list-games:nth-child(5n) {
  background: var(--gray);
}

.list-games:hover {
  cursor: pointer;
  filter: brightness(110%);
}

#selectedGame {
  color: white;
}

@media only screen and (min-width: 768px) {
  #create-game-container {
    position: relative;
  }

  #list-games-container {
    padding: 1em 5em;
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-games {
    min-height: 120px;
    margin: 0.5em 0.5em;
    flex-grow: 1;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
