.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome img {
  max-height: 600px;
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.links a {
  padding: 1.5em;
  font-size: 2em;
}

.links a:nth-child(1) {
  background: var(--pink);
  margin: 0.5em 0;
  color: var(--darkPink);
}

.links a:nth-child(2) {
  background: var(--blue);
  color: var(--darkBlue);
  margin: 0.5em 0;
}

.box {
  /* position: relative; */
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 50px;
}

/* .box img {
  position: absolute;
} */

#header {
  text-align: center;
  background: var(--darkBlue);
  font-size: 2.3em;
  padding: 0.5em;
}

.welcome {
  padding: 0 0.5em;
}

.welcome-title {
  font-size: 3em;
}

#welcome-title-container {
  padding-top: 3em;
}
/* tablet  and up*/
@media only screen and (min-width: 768px) {
}
