.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome img {
  max-height: 600px;
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  position: relative;
}

.links a {
  padding: 1.5em;
  font-size: 2em;
}

.links a:hover {
  filter: brightness(120%);
}

.links a:nth-child(4n-3) {
  background: var(--pink);
  margin: 0.5em 0;
  color: var(--darkPink);
}

.links a:nth-child(4n-2) {
  background: var(--blue);
  color: var(--darkBlue);
  margin: 0.5em 0;
}

.links a:nth-child(4n-1) {
  background: var(--yellow);
  color: var(--darkYellow);
  margin: 0.5em 0;
}

.links a:nth-child(4n) {
  background: var(--gray);
  color: var(--darkGray);
  margin: 0.5em 0;
}

.box {
  /* position: relative; */
  position: absolute;
  width: 200px;
  height: auto;
  bottom: -181px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.3;
}

/* .box img {
  position: absolute;
} */

#header {
  text-align: center;
  background: var(--darkBlue);
  font-size: 2.5em;
  padding: 0.5em;
  min-height: 84px;
}

.welcome {
  padding: 0 0.7em;
  min-height: 110vh;
}

.welcome-title {
  font-size: 3em;
}

.display-static {
  padding: 2em;
  text-align: center;
}

.display-static p {
  font-size: 1.2em;
}

.display-static h3 {
  margin-bottom: 0.5em;
}

.about-text {
  padding: 1em 0em;
}

.how-to-play-step {
  padding: 1em 0em;
}

.instructions {
  color: var(--darkBlue);
  font-size: smaller;
  border: 1px solid;
  padding: 0.1em;
  display: inline-block;
}

#welcome-title-container {
  padding-top: 3em;
}

/* extra querie for text stuff*/
@media only screen and (min-width: 594px) {
}

/* tablet  and up*/
@media only screen and (min-width: 768px) {
  #header {
    font-size: 3em;
  }

  .welcome {
    min-height: 100vh;
  }

  .box {
    bottom: -160px;
    width: 200px;
    z-index: -1;
  }

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 50em;
  }

  .links a {
    flex-basis: 45%;
    text-align: center;
  }

  .display-static {
    padding: 2em 20em;
  }

  .display-static p {
    font-size: 1.5em;
  }
}
