#host-view-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 2em 3em;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

#list-player-host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#host-playing-container {
  padding: 2em 3em;
  padding-bottom: 3em;
  min-height: calc(100vh - 84px);
}

#list-players-host-playing ul {
  display: flex;
  flex-direction: column;
}

#list-players-host-playing ul li {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 500;
}

#list-choice-host {
  padding: 0.5em 0;
}

#list-choice-host ul li {
  font-size: 1.4em;
  padding: 0.7em 0;
  text-align: center;
}

#host-play-buttons {
  display: flex;
  justify-content: center;
}

#question-host-container {
  padding: 1em 0;
}

#host-finished {
  padding: 1.5em;
}

.winner-display {
  padding: 1em 0em;
}

.recharts-surface {
  max-width: 350px;
}

@media only screen and (min-width: 768px) {
  #question-host-container {
    max-width: 700px;
    margin: auto;
    padding: 1em 3em;
  }

  #list-players-host-playing ul {
    flex-direction: row;
  }

  #list-choice-host ul hr {
    width: 75%;
    margin: auto;
  }

  .recharts-surface {
    max-width: 600px;
  }
}
