@import './homepage.css';
@import './joinGame.css';
@import './createGame.css';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #1a535c;
  --yellow: #ffe66d;
  --pink: #ff6b6b;
  --blue: #4ecdc4;
  --white: #fff;
  --darkPink: #5d2727;
  --darkGray: #202021;
  --gray: #c4c4c4;
}

body {
  font-family: 'Dosis', 'sans-serif';
  color: #202021;
  min-height: 100vh;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', 'sans-serif';
}

h1 {
  font-size: 3em;
}

p {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.5em;
}

.yellowFont {
  color: var(--yellow);
}

.pinkFont {
  color: var(--pink);
}

.darkPinkFont {
  color: var(--darkPink);
}

.darkBlueFont {
  color: var(--darkBlue);
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 2em;
}
input {
  font-size: 19pt;
  padding: 0.3em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
button {
  font-family: 'Dosis', 'sans-serif';
}

a,
a:hover {
  color: #000000;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

button:disabled {
  background-color: lightgrey;
}

button:disabled {
  background-color: lightgrey;
}

input::placeholder {
  opacity: 0.4;
}

.button6 {
  border: none;
  margin-top: 1em;
  font-size: 17pt;
  display: inline-block;
  padding: 0.7em 5em;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--darkBlue);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.button6:active {
  top: 0.1em;
}

.button6:hover {
  filter: brightness(150%);
  cursor: pointer;
}

/* @media all and (max-width:30em) {
   .button6{
      display: block;
      margin: 0.4em auto;
   }
} */
/* tablet  and up*/
@media only screen and (min-width: 768px) {
  .button6 {
    padding: 0.7em 3em;
  }
}
