#player-waiting {
  text-align: center;
  padding: 1em;
}

#player-submit {
  text-align: center;
  padding: 1em;
}

#player-choice-container {
  padding: 1.5em;
}

#player-choice-container h2 {
  text-align: center;
}

#player-choice-container p {
  display: inline-block;
  padding-left: 0.5em;
}

#player-choice-container form {
  padding: 2em;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-choice-container form label {
  width: 100%;
  font-size: 1.5em;
}

.center {
  text-align: center;
}

#show-answer-host {
  text-align: center;
  font-size: 2em;
}

#removed-player {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em;
}
.removed-item {
  padding: 1em 0 1em 0;
}

#player-finished {
  padding: 1.5em;
}

#recharts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#player-disconnected {
  text-align: center;
  padding: 5em;
}

#player-disconnected .finished-button-container {
  padding-top: 2em;
}

#no-results {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.smallText {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  #player-choice-container form {
    max-width: 500px;
    margin: auto;
  }

  .host-q-display {
    max-width: 70%;
    margin: auto;
    text-align: center;
  }

  #show-answer-host {
    padding: 1em 0;
  }

  #recharts-container {
    padding-bottom: 3em;
  }

  #player-finished {
    padding: 3em;
  }

  #player-disconnected .finished-button-container {
    padding-top: 5em;
  }

  #no-results {
    padding-bottom: 1.5em;
  }
}
